@font-face { font-family: Norse-Bold; src: url('assets/Norse-Bold.otf'); }

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Norse-Bold;
    font-size: 60px;
    color: white;
    text-align: center;
}

h3 {
    text-align: left;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

#blackbar {
    display: flex;
    background-color: black;
    flex: 1 1 10vh;
}

#left-side {
    display: flex;
    flex-direction: column;
    padding: 1px;
    background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: black 1px solid;
    flex: 1 1 25vh;
    height: 90vh;
    align-content: center;
    justify-content: space-around;
}


#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 7, 7, 0.5); /* Black background with 50%*/
}

img {
    width: 100px;
    height: 100px;
    align-self: center;
}

#footer {
    display: flex;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    align-self: center;
}

a {
    color: white;
}

#right-side {
    display: flex;
    flex-direction: column;
    flex: 1 1 55vh;
    justify-content: center;
    align-items: left;
    align-content: center;
    background-color: #f3f4f6;
}

#top-text {
    margin-left: 20px;
    margin-right: 20px;
}

#middle-form {
    display: flex;
    flex-direction: column;
}

#account-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-wrap: wrap;
    height: max-content;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    box-shadow: 4px 4px 5px #d5dae0;
}

#div-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: 50px;
    margin-left: 20px;
    background-color: white;
}

#line1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-left: 20px;
}

label {
    font-size: 10px;
}

#low-button, #login {
    margin-left: 20px;
}

button {
    background-color: #596D48;
    color: white;
    padding: 12px 28px;
    margin-top: 10px;
    width: fit-content;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    box-shadow: 4px 4px 5px #d5dae0;
}

#div-input {
    display: flex;
    flex-direction: column;
}

input {
    background-color: #f3f4f6;
    border-color: #e4e7eb;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-top: 2px;
    box-sizing: border-box;
    border-radius: 5px;
}

input:focus{
    outline: 1px solid blue;
    box-shadow: 4px 4px 5px #e4e7eb;
}

input[type=password]:invalid {
    border: 1px solid red;
  }

strong {
    color: #596D48;
}

p {
    font-size: 14px;
}